#contents{}
.contents{}
.contents .cont{}
.contents .cont > h2{
    margin: 50px 0;
    font-size: 32px;
    font-family: var(--mainEng-font);
    text-align: center;
    color: #292929;
}

/* ------------------------------------ */
/* --------------- con1 --------------- */
.contents .cont .con1{
    padding-bottom: 10px;
    width: 50%;
    margin: 0 auto;
    cursor: default;
}
.contents .cont .con1 .c1_left{
    width: 53%;
    float: left;
    padding: 10px;
}
.contents .cont .con1 .c1_left .c1l_top{}
.contents .cont .con1 .c1_left .c1l_top > h4{
    margin-bottom: 20px;
}
.contents .cont .con1 .c1_left .c1l_top > p{
    font-family: var(--mainKor-font);
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: 1.4px;
    color: #292929;
}
.contents .cont .con1 .c1_left .c1l_bottom{
    margin-top: 20px;
    border-top: 1px solid #989898;
    padding-top: 20px;
}
.contents .cont .con1 .c1_left .c1l_bottom > h4{
    margin-bottom: 20px;
}
.contents .cont .con1 .c1_left .c1l_bottom > p{
    font-family: var(--mainKor-font);
    margin-top: 3px;
    color: #292929;
}

.contents .cont .con1 .c1_right{
    width: 40%;
    float: right;
    padding: 10px;
}
.contents .cont .con1 .c1_right > div{}
.contents .cont .con1 .c1_right > div > img{
    width: 100%;
    border-radius: 10px;
}
/* --------------- // con1 --------------- */
/* --------------------------------------- */


/* ------------------------------------ */
/* --------------- con2 --------------- */
.contents .cont .con2{
    width: 70%;
    margin: 0 auto;
    cursor: default;
}
.contents .cont .con2 > div{
    margin-top: 100px;
}
.contents .cont .con2 > div .c2{
    width: 33%;
    float: left;
    padding: 20px;
}
.contents .cont .con2 > div .c2 > h3{
    background-image: linear-gradient(0deg, #ede7f6, #beadde);
    padding: 3px 0;
}
.contents .cont .con2 > div .c2 .set{
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid #989898;
}
.contents .cont .con2 > div .c2 .set > h4{
    margin-bottom: 13px;
}
.contents .cont .con2 > div .c2 .set > p{
    font-family: var(--mainKor-font);
    color: #292929;
    letter-spacing: 1.1px;
    line-height: 1.2;
}

.contents .cont .con2 > div .c2_left{}
.contents .cont .con2 > div .c2_center{}
.contents .cont .con2 > div .c2_right{}

.contents .cont .con2 > div .c2_left .ed1{}
.contents .cont .con2 > div .c2_center .wh1{}
.contents .cont .con2 > div .c2_right .sk1 > p{
    font-family: var(--mainEng-font);
    margin-bottom: 3px;
}
/* --------------- // con2 --------------- */
/* --------------------------------------- */


/* ------------------------------------ */
/* --------------- con3 --------------- */
.contents .cont .con3{
    width: 80%;
    margin: 150px auto;
}
.contents .cont .con3 > h3{
    text-align: center;
    background-image: linear-gradient(0deg, #ede7f6, #beadde);
    padding: 5px 0;
    font-size: 22px;
    cursor: default;
}
.contents .cont .con3 > div{
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #989898;
}
.contents .cont .con3 > div > figure{
    width: 45%;
    float: left;
    margin: 50px 25px;

}
.contents .cont .con3 > div > figure > div{
    background-color: #f2ecfd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #d0baf8;
    transition: all 0.3s;
    height: 720px;
}
.contents .cont .con3 > div > figure > div:hover{
    box-shadow: 0 0 15px #a588da;
}
.contents .cont .con3 > div > figure > div > figcaption{}
.contents .cont .con3 > div > figure > div > figcaption > a{}
.contents .cont .con3 > div > figure > div > figcaption > a> img{
    width: 100%;
    height: 254px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #989898;
}
.contents .cont .con3 > div > figure > div > figcaption > a > h4{
    margin-bottom: 10px;
    color: #292929;
}
.contents .cont .con3 > div > figure > div > figcaption > a > p{
    font-family: var(--mainKor-font);
    color: #292929;
    line-height: 1.3;
    letter-spacing: 1.1px;
}

/* --------------- // con3 --------------- */
/* --------------------------------------- */