*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.clearfix::after, .clearfix::before{
    content: "";
    display: block;
    clear: both;
}
.container{
    width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 10px;
    /* background-color: aquamarine; */
}
h3{
    font-size: 20px;
    color: #292929;
    font-family: var(--mainEng-font);
}
h4{
    font-size: 18px;
    color: #616161;
    font-family: var(--mainEng-font);
}
::selection{
    background-color: transparent;
}
.h_1{
    font-family: var(--mainEng-font);
    line-height: 1.6;
    color: #702ff0;
}
.h_2{
    font-family: var(--mainKor-font);
    font-weight: normal;
    line-height: 1.6;
    color: #989898;
}